<!--- Footer stuff -->
<footer class="text-white p-3">
  <div class="container ">
    <div class="row">
      <div class="col-md-4 mt-2">
        <p>Code, content and images: CC-BY, GPL or MIT</p>
      </div>

      <div class="col-md-4 mt-2 ">
        <a href="https://www.facebook.com/danielpett/" aria-label="My facebook profile"><i class="fab fa-facebook fa-2x fa-circle-thin mr-2"></i></a>
        <a href="https://www.instagram.com/danielejpett/" aria-label="My Instagram profile"><i class="fab fa-instagram fa-2x fa-circle-thin mr-2"></i></a>
        <a href="https://twitter.com/dejpett" aria-label="My twitter profile"><i class="fab fa-twitter fa-2x fa-circle-thin mr-2"></i></a>
        <a href="https://github.com/portableant" aria-label="My GitHub account profile"><i class="fab fa-github fa-2x fa-circle-thin mr-2 "></i></a>
      </div>
    </div>
  </div>
  <a href="#0" class="cd-top js-cd-top" aria-label="return to the top of the page">Top</a>

</footer>
