<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/material.min.js"></script>
<!-- Back to top script -->
<script src="{{ site.baseurl }}/js/backtotop.js"></script>
<!-- Add feedback form -->
<!-- Cookie management -->
<script defer type="text/javascript" src="{{ site.baseurl }}/js/config.js"></script>
<script defer type="text/javascript" src="{{ site.baseurl }}/js/klaro.js"></script>
<!-- End of body -->
{% if page.layout == 'default' and page.collection == 'projects' %}
<script defer type="text/javascript" src="{{ site.baseurl }}/js/progress.js"></script>
{% endif %}
