<!-- Nav bars -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand order-md-last " href="#">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/" aria-label="Home page">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/blog" aria-label="Blog posts">Blog</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/research-projects/" aria-label="Project directory">Projects</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/photogrammetry" aria-label="A directory of 3D scanning">3d scanning</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/speaking" aria-label="My papers from speaking engagements">Speaking</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ site.baseurl }}/about" aria-label="A page about my background">About me</a>
    </li>
  </ul>
</div>
</nav>
