<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{{page.title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% include /structure/css.html %}

    {% seo %}
    {% include /structure/feeds.html %}
    {% include analytics.html %}
    {% if page.lat and page.lon %}
    {% include /structure/mapscss.html %}
    {% endif %}
</head>
<body class="doc-body">

<!-- Screen reader skip to main -->
<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
    <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
    </div>
</a>

{% include /structure/navigation.html %}

{% if page.collection == 'projects' %}
  <div class="progress" id="progress-indicator"></div>
{% endif %}

{% assign class = 'head' %}

{% include /structure/jumbotron.html %}

<div class="container">

      {% if page.map %}
      <div id="map" style="width: 100%; height: 300px;"></div>
      {% endif %}

      {% if page.url == "/" %}
        <div class="container">
            {{ content }}
        </div>
      {% elsif page.url == '/research-projects/' %}
      <div class="container">
          {{ content }}
      </div>
      {% elsif page.url == '/technologies/' %}
      <div class=container"">
          {{ content }}
      </div>
      {% elsif page.url == '/about/' %}
      <div class="container">
          {{ content }}
      </div>
      {% else %}
      <div class="container">
          {% include structure/project.html %}

          {% if page.collection == 'photogrammetry' %}
              {% include structure/3d.html %}
          {% endif %}
      </div>
      {% if page.lat and page.lon %}
      <div class="container-fluid">

          <h3>Talk location</h3>
            <div id="map" class="mb-3 map-container" ></div>

      </div>
      {% endif %}
      <div class="container">
          <p>
              {% if page.date %}
              <span class="chip chip-primary mb-1"><i
                class="chip-primary"><i class="material-icons">create</i></i>
                Created: {{ page.date | date_to_string }}</span>
              {% endif %}

              {% if page.category %}
              <span class="chip chip-primary mb-1"><i class="chip-primary"><i
                      class="material-icons small">category</i></i>Category:
                      {{ page.category }}</span>
              {% endif %}

              {% for tags in page.tags %}
              <span class="chip chip-primary mb-1"><i class="chip-primary"><i
                class="material-icons small">label</i></i>{{ tags }}</span>
              {% endfor %}
          </p>
      </div>
      {% endif %}

</div>

<div class="container">
  {% if page.images %}
    <div class="row">
        <div class="mb-2 mx-2 rounded">
            <h3>Project images</h3>
            {% include structure/carousel.html %}
        </div>
    </div>

    {% endif %}

    {% include share_buttons.html %}
</div>




{% include structure/footer.html %}
{% include structure/javascript.html %}
{% if page.lat and page.lon %}
{% include structure/maps.html %}
<script type="text/javascript">

// Creating map options
      var mapOptions = {
         center: [{{ page.lat }}, {{ page.lon }}],
         zoom: 18
      }
      // Creating a map object
      var map = new L.map('map', mapOptions);
      // Creating a Layer object
      var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
      // Adding layer to the map
      map.addLayer(layer);
</script>
{% endif %}


</body>
</html>
